
/*----------------- Quelques Animations cool --------------------------*/
@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes zoomIn{
    0%{
        transform: scale(0);
        opacity: 1;
    }
    100%{
        transform: scale(200px);
        opacity: 1;
    }
}
@keyframes appear{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* --------------- Gestion de la responsive -----------------------*/

@media screen and (max-width: 870px) {
   .showcase-area .container{
        grid-template-columns: 1fr;
    }
    .person{
        width: 100%;
        transform: none;
    }

    .humburger-menu{
        display: flex;
    }
    .links{
        position: fixed;
        top: 0;
        right: 0;
        max-width: 450px;
        width: 100%;
        height: 100%;
        background-color: var(--mainColor);
        z-index: 95;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 50px 2px rgba(0, 0, 0, 0.4);
        transform: translateX(100%);
        transition: 0.5s;
    }
    .links ul{
        flex-direction: column;
    }

    .links a{
        color: #fff;
        margin-left: 0;
        padding: 2rem 0;
    }

    .links .btn{
        background: none;
    }
    .overlay{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        opacity: 0;
        pointer-events: none;
    }

    .big-wrapper.active .links{
        transform: translateX(0);
        box-shadow: 0 0 50px 2px rgba(0, 0, 0, 0.4);
    }
    .big-wrapper.active .overlay{
        pointer-events: all;
        opacity: 1;
    }
}