:root{
    --mainColor: #64bcf4;
    --hoverColor: #5bacdf;
    --backgroundColor: #f1f8fc;
    --darkOne: #312f3a;
    --darkTwo: #45424b;
    --lightOne: #919191;
    --ligthTwo: #aaa;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'poppins', sans-serif;
}

img{
    width: 100%;
}
.container .logo img{
    border-radius: 50%;
}
.container .logo{
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

a{
    text-decoration: none;
}

.container{
    position: relative;
    max-width: 81rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
    z-index: 10;
}
header{
    position: relative;
    z-index: 70;
}

.left p{
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.right{
    opacity: 0;
    animation: zoomIn 1s ease forwards;
    animation-delay: 1s;
}

.overlay{
    display: none;
}

.big-wrapper{
    position: relative;
    padding: 1.7rem 0 2rem;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--backgroundColor);
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

/* ----------- style de la navbar -------------------*/
.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.logo h3{
    color: var(--darkTwo);
    font-size: 1.55rem;
    line-height: 1.2;
    font-weight: 700;
}
.logo img{
    width: 60px;
    margin-right: .6rem;
    margin-top: -0.6rem;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links ul{
    display: flex;
    list-style: none;
    align-items: center;
}

/* .links li{
    animation: slideTop .5s ease forwards;
    animation-delay: calc( .2s * var(--i)); 
} */
.links a{
    color: var(--ligthTwo);
    margin-left: 4.5rem;
    display: inline-block;
    transition: 0.3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc( .2s * var(--i)); 
}
.links a:hover{
    color: var(--hoverColor);
    transform: scale(1.05);
}

/* -------- style des boutons -----------*/
.btn{
    display: inline-block;
    padding: .9rem 1.9rem;
    color: #fff !important;
    background-color: var(--mainColor);
    border-radius: 16px;
    text-transform: capitalize;
}
.cta .btn{
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.5s;
}
.btn:hover{
    background-color: var(--hoverColor);
    transform: scale(1) !important;
}

.toggle-btn{
    display: inline-block;
    border: none;
    background: var(--darkTwo);
    color: var(--backgroundColor);
    outline: none;
    cursor: pointer;
    height: 39px;
    width: 39px;
    border-radius: 50%;
    font-size: 1.1rem;
    transition: .3s;
}
.toggle-btn:hover{
    background: var(--mainColor);
}
.toggle-btn i{
    line-height: 39px;
}
.toggle-btn i:last-child{
    display: none;
}
.humburger-menu{
    position: relative;
    z-index: 99;
    width: 2rem;
    height: 2rem;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none;
}
.humburger-menu .bar{
    position: relative;
    width: 100%;
    height: 3px;
    background-color:var(--darkTwo);
    border-radius: 3px;
    transition: .5s;
}
.bar::before,
.bar::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--darkTwo);
    border-radius: 3px;
    transition: 0.5s;
}
.bar::before{
    transform: translateY(-8px);
}
.bar::after{
    transform: translateY(8px);
}

.big-wrapper.active .humburger-menu .bar{
    background-color: transparent;
}
.big-wrapper.active .bar::before{
    transform: translateY(0) rotate(-45deg);
}
.big-wrapper.active .bar::after{
    transform: translateY(0) rotate(45deg);
}

   /*--------------------- fin des boutons ----------------------*/

.showcase-area .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.big-title {
    font-size: 1.4rem;
    color: var(--darkOne);
    text-transform: capitalize;
    line-height: 1.4; 
    opacity: 0;
    animation: appear 1s ease forwards;
    animation-delay: 0.5s;
}
.text {
    color: var(--darkOne);
    font-size: 1.1rem;
    margin: 1.9rem 0 2.5rem;
    max-width: 600px;
    line-height: 1.3;
}
.showcase-area .btn{
    box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.05);
}

.person{
    width: 123%;
    transform: translate(15%, 25px);
}

.shape{
    position: absolute;
    z-index: 0;
    width: 500px;
    bottom: -180px;
    left: -15px;
    opacity: 0.1;
}

/*================== La partie de Tsafack  ==================*/

/* On gere ici la base les differentes section de la page: */
.section .section-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.section .small-text{
    color: var(--mainColor);
    font-size: large;
    margin-left: 1%;
}
.section .stroke{ /*delimiteur de section*/
    width: 10%;
    height: 0;
    margin-inline-start: 4.5rem; /* a revoir apres la reponse de bakalive */
    border: 2px solid var(--mainColor);
}

.section-body{
    display: flex;
    flex-direction: row;
    padding: 4.2rem;
}

.section-body .left{
    width: 50%;
}

.section-body .cta .btn{
    color: #312f3a;
    background-color: var(--backgroundColor);
    border: 2px solid var(--mainColor);
}
.right-side{
    width: 50%;
    height: auto;
}
.right-side img{
    display: block;
    width: 400px;
    height: 400px;
    float: right;
    right: 100%;
}

.full-stroke{
    height: 0;
    width: 90%;
    border: 1px solid var(--hoverColor);
    margin-inline: auto;
}

.btn-produit{
    display: inline-block;
    padding: .9rem 1.9rem;
    color: white;
    background-color: var(--mainColor);
    border-radius: 16px;
    text-transform: capitalize;
    position: absolute;
    right: 10%;
}

/* == gestion du formulaire d'envoie d'email */

form{
    color: var(--darkOne);
    font-size: large;
    font-weight: 600;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-inline: auto;
    padding-bottom: 2rem;
    border: 1px solid var(--mainColor);
}
form .form-div{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0.1rem;
    width: 40%;
    margin-inline: 20px;
    margin-top: 5%;
    align-self: center;
}
.form-div input, .form-div textarea{
    width: 100%;
    padding: 0.5rem;
    font-size: medium;
    border: 1px solid var(--hoverColor);
    box-shadow: 1px 1px 3px var(--hoverColor);
}
.form-div .submit-btn{
    margin-inline: auto;
}
.submit-btn{
    border-radius: 6px 6px;
    left: 50%;
    padding: 4rem;
    float: left;
    cursor: pointer;
    font-weight: bold;
}
form .description{
    width: 90%;
    text-align: left;
}
/* le copyright */
.copyright{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 6vh;
    align-items: center;
}
.copyright .stroke{
    width: 30%;
    margin-right: 5%;
}

.copyright .copyright-text{
    width: 20%;
}

#contact, #a-propos, #nos-produits{
    background-color: var(--backgroundColor);
}